*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Muli, sans-serif;
    font-weight: 700;
    background-color: #a5d6a7;
    color: #242e4c;
    line-height: normal;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contenedor{
    width: 313px;
    height: 347px;
    background-color: #f7f7fc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h1{
    font-weight: 600;
    color: rgb(36, 46, 76);
    text-align: center;
    font-size: 16px;
    margin-top: 30px;
}
.contenedor-saludo{
    display: flex;
    flex-direction: column;
    width: 205px;
    height: 43px;
    margin: 20px auto 0 auto;
    justify-content: center;
    align-content: center;
}
h3{
    font-weight: 400;
    color: #7d7a9e;
    font-size: 16px;
    text-align: center;

}
.contenedor-botones{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
}
.boton{
    width: 170px;
    height: 34px;
    border-radius: 40px;
    margin: 6px;
    justify-content: center;
    padding: 6px 40px;
    font-size: 16px;
    font-weight: 400;
    border-color: #ffffff;
    border: 1px solid #ebebf2;
}