*{
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
.centro{
    display: flex;
    justify-content: center;
}
.derecha{
    display: flex;
    justify-content: flex-end;
}


