*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Proxima Nova Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;

}
.tablero{
    width: 720px;
    height: 342px;
    background-color:#3178b9;
}
h1{
    color: white;
    margin: 18px;
    font-size: 14px;
    line-height: 18.4px;
}
.contenedor{
    width: 226px;
    height: 180px;
    background-color: #E3E5E6;
    margin-left: 15px;
    margin-top: 19px;
}
h5{
    font-size: 12px;
    margin-left: 5px;
    margin-top: 5px;
}
.clear,
.finalise,
.begin{
    font-size: 11px;
    width: 216px;
    color: #c3c3c3;
    margin-left: 5px;
    background-color: #FFFFFF;
    border: 1px solid #E1E3E4;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.clear{
    height: 24px;
}
.finalise{
    height: 40px;
}
.begin{
    height: 46px;
}

.clear p,
.finalise p,
.begin p{
    margin-left: 5px;
}

.add{
    width: 214px;
    height: 30px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}
.add p{
    font-size: 11px;
    color: #c3c3c3;
    margin-left: 5px;
}