*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #E7E9F2;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.contenedor{
    width: 247px;
    height: 367px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
h1{
    font-size: 14px;
    text-align: center;
    color: #000000;
}
.jarron{
    width: 50px;
    height: 45px;
}
.email{
    font-size: 12px;
    text-align: center;
    color: #000000;
}
.parrafo{
    font-size: 10px;
    color:rgb(32, 33, 66);
    text-align: center;
    width: 172px;
    height: 49px;
}
.card{
    width: 177px;
    height: 90px;
    background-color: #f7f8fc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
h2{
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    margin-left: 10px;
}
.email-card{
    font-size: 10px;
    color: rgb(32, 33, 66);
    margin-left: 10px;
}
.boton-card{
    width: 80px;
    height: 24px;
    background-color: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #d1d5df;
    font-size: 10px;
    line-height: 15px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton-confirm{
    width: 95px;
    height: 23px;
    background-color: #000000;
    border-radius: 6px;
    font-size: 10px;
    line-height: 15px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}