*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor{
    width: 600px;
    height: 200px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #737070;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.transferencia{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    border-radius: 2px;
}
.cobro{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    border-radius: 2px;
}
h1{
    font-size: 28px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 12px;
}
.fecha{
    font-size: 10px;
    color: gray;
}
.monto{
    font-size: 10px;
    color: green;
}