*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    font-family: Merriweather, serif;
}
.estrella-contorno,
.estrella-completa{
    width: 17px;
    height: 17px;
    margin-top: 7px;
}
h1{
    width: 100%;
    text-align: left;
    margin-left: 40px;
    margin-bottom: 30px;
}
.cuerpo{
    width: 881px;
    height: 658px;
    background-color: #d6c7f4;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cerrar-icono{
    width: 15px;
    height: 15px;
    filter: invert(80%);
    
}
.cerrar{
    display: flex;
    justify-content:right;
    margin-right: 20px;

}
.contenedor{
    width: 371px;
    height: 331px;
    padding: 10px;
    background-color: #1a1832;
    color: #cecdd5;
    border-radius: 10px;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.35);
    

}

.reunion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}
.card{
    width: 292px;
    height: 110px;
    background-color: #282547;
    margin-top: 40px;
    margin-left: 30px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.clasificacion{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    color: #64608c;
}
.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.return{
    width: 162px;
    height: 40px;
    background-color: #672cb9;
    color: #cecdd5;
    border-radius: 7px; 
    border: none;
    font-size: 10px;
}
.join{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7572a1;
    margin-top: 23px;
}