*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eae7fb;
}
.contenedor{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 331px;
    height: 278px;
    border: #ddd9f8 2px solid;
    box-shadow: 0px 4px 4px #ddd9f8;
    border-radius: 8px;
    background-color: #ffffff;
}
.cont-titulo{
    width: 188px;
    height: auto;
}
.titulo{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: rgb(32, 33, 66);
    text-align: center;
}
.cont-opcion{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 231px;
    height: 78px;
    border-radius: 8px;
    margin-top: 20px;
}
.opcion, 
.opcion-15{
    font-family: Poppins, sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    width: 55px;
    height: 38px;
    border: 2px solid #f6f5fd;
    color: #908eab;
    text-align: center;
    padding-top: 10px;

}
.opcion-15{
    background-color: #7563f6;
    color:#dedafc

}
.boton{
    width: 231px;
    height: 38px;
    background-color: #7563f6;
    border: none;
    border-radius: 8px;
    color:#dedafc;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
